<br>
<h3><p>Saudações!</p></h3>
<p>Criei o site com o objetivo de compartilhar conhecimentos na área de Engenharia Civil.</p>
<p>Aqui vocês irão encontrar, dicas, tabelas, fórmulas de cálculo, sugestões de livros, dentre outras coisas.</p>
<p>Sintam-se à vontade para enviarem dúvidas, sugestões ou críticas. </p>
<p>Meu e-mail para contato é: <b> alan.barile@gmail.com </b> </p>
